.contact_section.col-xs-12
  .contact.col-xs-5
    .contact_container.col-xs-12
      .title КОНТАКТЫ
      .box
        .img_container
          img(src="../01_pictures/contact/location.png")
        .content
          | АДРЕС ИВЕНТА </br> <span>Киев, ул. Госпитальная, 4</span>
      .box
        .img_container
          img(src="../01_pictures/contact/@.png")
        .content
          | ПОЧТА </br> <span>info@drupalcampkiev.com</span>
      .box
        .img_container
          img(src="../01_pictures/contact/phone.png")
        .content
          | ТЕЛЕФОН </br> <span>+38 (050) 123-00-01</span>
      .box
        .img_container
          img(src="../01_pictures/contact/node.png")
        .tech_container
          .tech_logo
            img(src="../01_pictures/contact/1.png")
          .tech_logo
            img(src="../01_pictures/contact/f.png")
          .tech_logo
            img(src="../01_pictures/contact/y.png")
          .tech_logo
            img(src="../01_pictures/contact/g.png")
          .tech_logo
            img(src="../01_pictures/contact/gu.png")
          .tech_logo
            img(src="../01_pictures/contact/dr.png")
      
  .google_map.col-xs-7
