.tickets_section.col-xs-12
  .title ПРИОБРЕТАЙТЕ БИЛЕТЫ УЖЕ СЕГОДНЯ
  .buy_container
    button.big_button(type="button") КУПИТЬ &nbsp;<span>---</span>&nbsp; 200 <span>UAH</span>
  .price_title.col-xs-12 Цена актуальна до 14.04.2016  
      
  
