$green: #65bd6a
$box-color: #f5f5f5
$header: #555555

// Fonts

$clear-sans: 'clear_sansbold'
$clear-sans-reg: 'clear_sansregular'



@mixin linearGradient($dir, $first-color, $second-color)
  background: -webkit-linear-gradient($dir, $first-color, $second-color)
  background: -ms-linear-gradient($dir, $first-color, $second-color)
  background: -moz-linear-gradient($dir, $first-color, $second-color)
  background: -o-linear-gradient($dir, $first-color, $second-color)
  background: linear-gradient($dir, $first-color, $second-color)


.big_button
  width: 200px
  height: 34px
  border: 0px
  border-radius: 20px
  background: $green
  color: #ffffff
  letter-spacing: 0.035em
  border: 2px solid $green
  +box-sizing(border-box)
  font:
    family: $clear-sans
    size: 16px

  &:hover
    background: transparent
    color: $green
