.deploy_section.col-xs-12
  .main_title.col-xs-7 
    .title Deploy Plus. Better UI and more </br> control for deploy module. Tips &</br> Tricks.
    .content
      | Когда мы создаем новые продукты, всегда задаемся вопросами: почему</br> у других получилось так хорошо?
      | Почему другие ничего не понимают и</br> сделали так плохо? Как нам сделать что-то крутое?
      .sub_content
        .lang Язык: Украинский
        .lang Уровень: Средний
        .lang Для: Back-End, PM
    .speakers_button_cont.col-xs-6
      button.big_button(type="button")  ДОКЛАДЫ И СПИКЕРЫ
  .speaker_container.col-xs-5
    .speaker_1
      .face
      .info
        .field
          .name Евгений Ильин
          .occupation Bigdrop — PHP Developer
        .tech_container
          .tech_logo
            img(src="../01_pictures/contact/1.png")
          .tech_logo
            img(src="../01_pictures/contact/f.png")
          .tech_logo
            img(src="../01_pictures/contact/y.png")
          .tech_logo
            img(src="../01_pictures/contact/g.png")
          .tech_logo
            img(src="../01_pictures/contact/gu.png")
          .tech_logo
            img(src="../01_pictures/contact/dr.png")
    .speaker_2
      .face
      .info
        .field
          .name Алевтина Сергеева
          .occupation Bigdrop — CEO & Founder, PHP Developer
    
        .tech_container
          .tech_logo
            img(src="../01_pictures/contact/1.png")
          .tech_logo
            img(src="../01_pictures/contact/f.png")
          .tech_logo
            img(src="../01_pictures/contact/y.png")
          .tech_logo
            img(src="../01_pictures/contact/g.png")
          .tech_logo
            img(src="../01_pictures/contact/gu.png")
          .tech_logo
            img(src="../01_pictures/contact/dr.png")
  
  
