.speakers_container
  .title.col-xs-7 СПИКЕРЫ И ДОКЛАДЫ
  article.drupal_camp.col-xs-8
    |DrupalCamp - это ежегодное мероприятие для специалистов в области веб технологий.
    |На это масштабное событие нас вдохновила система для создания сайтов и веб приложений Drupal.
    |Главная цель конференции - это создать условия для завязывания новых знакомств и продуктивного
    |общения участников, обмена опытом, поиска работы или кадров, зарождения новых идей и, тем самым,
  
  .become_speaker.col-xs-3.col-xs-push-1
    .icon_container
      .icon
        img(src="../01_pictures/speakers/icon.png")
      button.big_button(type='button') СТАТЬ СПИКЕРОМ
  
  .speakers_thumbnails.col-xs-12
    .thumbnail.col-xs-3
      .photo_container
        .speaker_1
          .button_info: a(href="#")  Алена</br> Шалина
        .speaker_2
          .button_info: a(href="#")  Евгений</br> Ильин
      .content_container
        | Оптимизация </br> продуктивности Drupal</br> проекта без кеширования.
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang UA
           
          
    .thumbnail.col-xs-3
      .photo_container
        .speaker_3
          .button_info: a(href="#")  Роман Кудлов
      .content_container
        | Тестирование Drupal сайтов с помощью TqExtension -</br> Practice.
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang RU
          
          
    .thumbnail.col-xs-3
      .photo_container
        .speaker_4
          .button_info: a(href="#")  Максим Рожков
      .content_container 
        | Big Drupal: Issues We Met  
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang RU 
          
    .thumbnail.col-xs-3
      .photo_container
        .speaker_5
          .button_info: a(href="#")  Денис Рудых
      .content_container  
        | Опыт организации сообще-</br>ства Сибирская Артель "ТеррИМ" 
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang RU
         
          
    .thumbnail.col-xs-3
      .photo_container
        .speaker_4
          .button_info: a(href="#")  Максим Рожков
      .content_container
        | Big Drupal: Issues We Met 
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang RU
         
          
    .thumbnail.col-xs-3
      .photo_container
        .speaker_5
          .button_info: a(href="#")  Денис Рудых
      .content_container  
        | Опыт организации сообще-</br>ства Сибирская Артель</br> "ТеррИМ" 
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang RU
         
          
    .thumbnail.col-xs-3
      .photo_container
        .speaker_1
          .button_info: a(href="#")  Алена</br> Шалина
        .speaker_2
          .button_info: a(href="#")  Евгений</br> Ильин
      .content_container  
        | Оптимизация </br> продуктивности Drupal</br> проекта без кеширования.
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang RU
           
          
    .thumbnail.col-xs-3
      .photo_container
        .speaker_3
          .button_info: a(href="#") Роман Кудлов
      .content_container   
        | Тестирование Drupal сайтов с помощью TqExtension -</br> Practice.
      .lang_container
        img(src="../01_pictures/speakers/level.png") 
        .lang RU
    .show_more.col-xs-12  
      button.big_button(type="button")
        .sprite_more
        |ПОКАЗАТЬ ЕЩЁ
    
    
