footer.col-xs-12
  .col-xs-4.drupal_camp 
     .logo © DRUPALCAMP <span>KIEV’16</span>
  .col-xs-5.drupal_year DrupalCamp Kiev: <span>2015 г.</span> <span>2014 г.</span> <span>2013 г.</span>
  .col-x3-3.de_web
    .dev РОЗРАБОТКА:
    .de_web_logo
      img(src="../01_pictures/footer/de_web.png")
