@import bourbon
@import colors_and_mixins/mixin.sass
@import Clear_Sans_web_font/clearsans_bold_macroman/stylesheet.css
@import Clear_Sans_web_font/clearsans_regular_macroman/stylesheet.css
@import header_style/header.sass
@import speakers_style/speakers.sass

.container
  width: 100%
  max-width: 1200px
  min-width: 960px
  margin: 0px auto
