@import url(Clear_Sans_web_font/clearsans_bold_macroman/stylesheet.css);
@import url(Clear_Sans_web_font/clearsans_regular_macroman/stylesheet.css);
.big_button {
  width: 200px;
  height: 34px;
  border: 0px;
  border-radius: 20px;
  background: #65bd6a;
  color: #ffffff;
  letter-spacing: 0.035em;
  border: 2px solid #65bd6a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "clear_sansbold";
  font-size: 16px;
}

.big_button:hover {
  background: transparent;
  color: #65bd6a;
}

.big_button_transp {
  width: 200px;
  height: 34px;
  border: 0px;
  border-radius: 20px;
  background: transparent;
  color: #ffffff;
  letter-spacing: 0.035em;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "clear_sansbold";
  font-size: 16px;
}

.big_button_transp:hover {
  background: #65bd6a;
  border: 1px solid #65bd6a;
}

.sponsor_header {
  letter-spacing: 0.025em;
  border-bottom: 2px solid #f1f1f1;
  width: 100%;
  max-width: 535px;
  margin-top: 70px;
  padding-bottom: 10px;
  font-family: "clear_sansbold";
  font-size: 24px;
}

.container header {
  position: relative;
  height: 60px;
  background: #42454f;
}

.container header .gradiend_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, #000000, #ffffff);
  background: -ms-linear-gradient(bottom, #000000, #ffffff);
  background: -moz-linear-gradient(bottom, #000000, #ffffff);
  background: -o-linear-gradient(bottom, #000000, #ffffff);
  background: linear-gradient(bottom, #000000, #ffffff);
  opacity: 0.1;
}

.container header .pattern_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../01_pictures/pattern_overlay.png");
  opacity: 0.1;
}

.container header .logo {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  height: 100%;
  color: #ffffff;
  letter-spacing: 0.035em;
  font-family: "clear_sansbold" !important;
  font-size: 14px;
}

.container header .logo span {
  color: #65bd6a;
}

.container header nav {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.container header nav a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.035em;
  margin-left: 2.06186%;
  margin-top: 3px;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  font-family: "clear_sansbold" !important;
  font-size: 12px;
}

.container header nav a:hover, .container header nav a:focus {
  border-bottom: 2px solid #65bd6a;
}

.container header nav a img {
  margin-left: 5px;
  margin-bottom: 2px;
}

.container header nav button {
  border: 2px solid #65bd6a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  color: #65bd6a;
  width: 140px;
  height: 28px;
  background: none;
  margin-left: 25px;
  letter-spacing: 0.035em;
  font-family: "clear_sansbold";
  font-size: 12px;
}

.container header nav button:hover {
  background: #65bd6a;
  color: #ffffff;
}

.container header nav .line {
  background: #ffffff;
  height: 2px;
  width: 21px;
  margin-left: 25px;
}

.container header nav .lang_change {
  margin-left: 25px;
  margin-bottom: 3px;
}

.container header nav .lang_change a {
  border: 0px;
  font-size: 14px;
}

.container header nav .lang_change a:hover, .container header nav .lang_change a:focus {
  color: #65bd6a;
}

.container header nav .lang_change a:first-child {
  margin-left: 0px;
}

.container header nav .lang_change a:last-child {
  margin-left: 14px;
}

.speakers_container {
  height: 1195px;
  width: 100%;
  background: #f5f5f5;
}

.speakers_container .title {
  color: #555555;
  letter-spacing: 0.035em;
  margin-top: 55px;
  font-size: 35px;
  font-family: "clear_sansbold";
}

.speakers_container .drupal_camp {
  line-height: 24px;
  margin-top: 30px;
  color: #202525;
  font-family: "clear_sansregular";
  font-size: 16px;
}

.speakers_container .become_speaker .icon_container {
  position: relative;
  top: -20px;
  width: 200px;
  height: auto;
}

.speakers_container .become_speaker .icon_container button {
  position: absolute;
  top: 107px;
}

.speakers_container .become_speaker .icon_container .icon {
  position: absolute;
  left: 33px;
}

.speakers_container .speakers_thumbnails {
  height: auto;
  margin-top: 57px;
}

.speakers_container .thumbnail {
  width: 100%;
  max-width: 23.09666%;
  height: 362px;
  background: #ffffff;
  margin-left: 2.5%;
  padding: 0px;
}

.speakers_container .thumbnail:first-child {
  margin-left: 0px  !important;
}

.speakers_container .thumbnail:nth-child(5) {
  margin-left: 0px  !important;
}

.speakers_container .thumbnail:nth-child(5),
.speakers_container .thumbnail:nth-child(6),
.speakers_container .thumbnail:nth-child(7),
.speakers_container .thumbnail:nth-child(8) {
  margin-top: 30px;
}

.speakers_container .photo_container {
  width: 100%;
  height: 240px;
}

.speakers_container .photo_container .speaker_1,
.speakers_container .photo_container .speaker_2 {
  width: 50%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
}

.speakers_container .photo_container .speaker_1 .button_info,
.speakers_container .photo_container .speaker_2 .button_info {
  width: 100%;
  background: rgba(101, 189, 106, 0.9);
  color: #ffffff;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  cursor: pointer;
  font-family: "clear_sansregular";
  font-size: 14px;
}

.speakers_container .photo_container .speaker_1 .button_info a,
.speakers_container .photo_container .speaker_2 .button_info a {
  text-decoration: none;
  color: white;
}

.speakers_container .photo_container .speaker_1 .button_info:hover,
.speakers_container .photo_container .speaker_2 .button_info:hover {
  background: #205081;
}

.speakers_container .photo_container .speaker_3,
.speakers_container .photo_container .speaker_4,
.speakers_container .photo_container .speaker_5 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
}

.speakers_container .photo_container .speaker_3 .button_info,
.speakers_container .photo_container .speaker_4 .button_info,
.speakers_container .photo_container .speaker_5 .button_info {
  width: auto;
  background: rgba(101, 189, 106, 0.9);
  color: #ffffff;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  cursor: pointer;
  font-family: "clear_sansregular";
  font-size: 14px;
}

.speakers_container .photo_container .speaker_3 .button_info a,
.speakers_container .photo_container .speaker_4 .button_info a,
.speakers_container .photo_container .speaker_5 .button_info a {
  text-decoration: none;
  color: white;
}

.speakers_container .photo_container .speaker_3 .button_info:hover,
.speakers_container .photo_container .speaker_4 .button_info:hover,
.speakers_container .photo_container .speaker_5 .button_info:hover {
  background: #205081;
}

.speakers_container .speaker_1 {
  background: url("../01_pictures/speakers/speaker_1.jpg");
}

.speakers_container .speaker_2 {
  background: url("../01_pictures/speakers/speaker_2.jpg");
}

.speakers_container .speaker_3 {
  background: url("../01_pictures/speakers/speaker_3.jpg");
}

.speakers_container .speaker_4 {
  background: url("../01_pictures/speakers/speaker_4.jpg");
}

.speakers_container .speaker_5 {
  background: url("../01_pictures/speakers/speaker_5.jpg");
}

.speakers_container .content_container {
  width: auto;
  height: 56px;
  line-height: 21px;
  margin-left: 17px;
  margin-top: 16px;
  color: #484848;
  font-size: 16px;
  font-family: "clear_sansbold";
}

.speakers_container .lang_container {
  margin-top: 20px;
  width: auto;
  height: auto;
}

.speakers_container .lang_container::after {
  clear: both;
  content: "";
  display: table;
}

.speakers_container .lang_container img {
  float: right;
  margin-right: 18px;
  margin-top: 4px;
}

.speakers_container .lang_container .lang {
  float: right;
  color: #888888;
  margin-right: 17px;
  font-family: "clear_sansregular";
  font-size: 15;
}

.speakers_container .show_more {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.speakers_container .show_more button {
  margin-top: 50px;
}

.speakers_container .show_more button:hover .sprite_more {
  background-position: 0px 17px;
}

.speakers_container .show_more button .sprite_more {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url("../01_pictures/speakers/sprite_more.png");
  margin-left: 15px;
  margin-right: -11px;
  margin-top: 3px;
}

.apply {
  height: 453px;
  background: url("../01_pictures/apply_section/background.jpg");
  background-repeat: no-repeat;
}

.apply .title {
  text-align: center;
  letter-spacing: 0.025em;
  margin-top: 78px;
  color: #ffffff;
  font-size: 38px;
  font-family: "clear_sansbold";
}

.apply .sub_title {
  text-align: center;
  color: #ffffff;
  font-family: "clear_sansbold";
  font-size: 18px;
  margin-top: 9px;
}

.apply .form_container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.apply .form_container form {
  width: 570px;
  padding: 0px;
  height: 95px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
  -ms-flex-line-pack: justify;
  margin-top: 50px;
}

.apply .form_container form .input-group {
  width: 270px;
  height: 36px;
}

.apply .form_container form .input-group input {
  height: 36px;
  color: #909090;
  font-family: "clear_sansregular";
  font-size: 15px;
}

.apply .form_container form .input-group input:focus, .apply .form_container form .input-group input:hover {
  color: #555555 !important;
}

.apply .form_container form .input-group input:focus::-webkit-input-placeholder, .apply .form_container form .input-group input:hover::-webkit-input-placeholder {
  color: #555555;
}

.apply .form_container form .input-group .input-group-addon {
  background: #ffffff;
}

.apply .form_container form .input-group .input-group-addon img {
  -webkit-filter: contrast(0%);
  filter: contrast(0%);
}

.apply .form_container form .input-group:hover .input-group-addon img {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.apply .button_container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 48px;
}

.sponsors_section .sponsors {
  height: 542px;
  padding: 0;
}

.sponsors_section .sponsors .title {
  color: #555555;
  letter-spacing: 0.035em;
  line-height: 35px;
  margin-top: 83px;
  font-size: 35px;
  font-family: "clear_sansbold";
}

.sponsors_section .sponsors .quote {
  color: #555555;
  border-left: 3px solid #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 25px;
  padding-left: 31px;
  margin-top: 83px;
  font-size: 18px;
  font-family: "clear_sansbold";
}

.sponsors_section .sponsors button {
  margin-top: 90px;
}

.sponsors_section .sponsors .golden_sponsors .sponsor_header {
  color: #fac42b;
}

.sponsors_section .sponsors .silver_sponsors {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.sponsors_section .sponsors .silver_sponsors .sponsor_header {
  color: #aeaeae;
}

.sponsors_section .sponsors .bronze_sponsors .sponsor_header {
  color: #cd7f32;
}

.sponsors_section .sponsors .media_sponsors {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.sponsors_section .sponsors .media_sponsors .sponsor_header {
  color: #555555;
}

.sponsors_section .sponsors .fourth,
.sponsors_section .sponsors .second {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.sponsors_section .sponsors .sponsors_logo {
  width: 100%;
  max-width: 535px;
  height: 25px;
  margin-top: 23px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sponsors_section .sponsors .sponsors_logo img {
  margin-left: 7.01754%;
  -webkit-filter: contrast(0%);
  filter: contrast(0%);
  cursor: pointer;
}

.sponsors_section .sponsors .sponsors_logo img:hover {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.sponsors_section .sponsors .sponsors_logo img:first-child {
  margin-left: 0;
}

.tickets_section {
  height: 380px;
  background: url("../01_pictures/tickets/bg.jpg") center center;
  background-repeat: no-repeat;
}

.tickets_section .title {
  text-align: center;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-top: 114px;
  font-size: 38px;
  font-family: "clear_sansbold";
}

.tickets_section .buy_container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 43px;
}

.tickets_section .buy_container button span {
  font-size: 12px;
}

.tickets_section .buy_container button span:first-child {
  letter-spacing: -2px;
  font-size: 16px;
}

.tickets_section .price_title {
  text-align: center;
  color: #ffffff;
  margin-top: 18px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-style: italic;
}

.contact_section {
  height: 413px;
  padding: 0px;
}

.contact_section .contact {
  background: #fcfcfc;
  height: 100%;
}

.contact_section .contact .title {
  width: 300px;
  text-align: center;
  color: #555555;
  letter-spacing: 0.035em;
  margin-top: 40px;
  font-family: "clear_sansbold";
  font-size: 35px;
}

.contact_section .contact .box {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.contact_section .contact .box .content {
  color: #888888;
  letter-spacing: 0.035em;
  font-family: "clear_sansbold";
  font-size: 14px;
}

.contact_section .contact .box .content span {
  color: #202525;
  font-family: "clear_sansregular";
  font-size: 18px;
}

.contact_section .contact .box .img_container {
  margin-top: 6px;
}

.contact_section .contact .box .img_container img {
  padding-right: 21px;
}

.contact_section .contact .box .tech_container {
  width: 181px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.contact_section .contact .box .tech_container .tech_logo {
  height: 26px;
  width: 26px;
  background: #cacaca;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  cursor: pointer;
}

.contact_section .contact .box .tech_container .tech_logo:hover {
  background: #205081;
}

.contact_section .google_map {
  background: url("../01_pictures/contact/google.jpg") -55px 0px;
  background-repeat: no-repeat;
  height: 100%;
}

footer {
  height: 70px;
  background: #3e4651;
}

footer .drupal_camp {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  letter-spacing: 0.025em;
  color: #ffffff;
  font-size: 15px;
  font-family: "clear_sansbold";
}

footer .drupal_camp span {
  color: #65bd6a;
}

footer .drupal_year {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  letter-spacing: 0.025em;
  color: #ffffff;
  font-family: "clear_sansregular";
  font-size: 15px;
}

footer .drupal_year span {
  text-decoration: underline;
  padding-left: 25px;
}

footer .de_web {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

footer .de_web .dev {
  color: #ffffff;
  letter-spacing: 0.025em;
  font-size: 15px;
  font-family: "clear_sansbold";
}

footer .de_web .de_web_logo {
  padding-left: 22px;
}

.code_sprint {
  padding: 0px;
  height: 453px;
  background: url("../01_pictures/code_sprint/bg_1.jpg");
  background-repeat: no-repeat;
}

.code_sprint .children_logo {
  height: 100%;
  background: url("../01_pictures/code_sprint/bg.jpg");
  background-repeat: no-repeat;
}

.code_sprint .sprint {
  padding-left: 0px;
  padding-right: 0px;
}

.code_sprint .sprint .title {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 94px;
}

.code_sprint .sprint .title h1 {
  color: #ffffff;
  letter-spacing: 0.035em;
  font-size: 42px;
  font-family: "clear_sansbold";
}

.code_sprint .sprint .sub_title {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: -33px;
}

.code_sprint .sprint .sub_title h3 {
  color: #ffffff;
  letter-spacing: 0.035em;
  font-family: "clear_sansbold";
}

.code_sprint .sprint .button_cont {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 30px;
}

.code_sprint .logos_companies {
  height: 93px;
  background: rgba(48, 49, 55, 0.8);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 63px;
  border-top: 2px solid #3e4651;
}

.code_sprint .logos_companies .logo_cont {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-filter: contrast(0%);
  filter: contrast(0%);
}

.code_sprint .logos_companies .logo_cont img {
  height: 39px;
  width: auto;
}

.deploy_section {
  height: 549px;
}

.deploy_section .main_title {
  padding-left: 0px;
  padding-right: 0px;
}

.deploy_section .main_title .title {
  color: #484848;
  line-height: 46px;
  margin-top: 57px;
  font-size: 35px;
  font-family: "clear_sansbold";
}

.deploy_section .main_title .content {
  color: #484848;
  margin-top: 28px;
  font-size: 18px;
  font-family: "clear_sansregular";
}

.deploy_section .main_title .content .sub_content {
  width: 100%;
  max-width: 440px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin-top: 30px;
}

.deploy_section .main_title .content .sub_content .lang {
  color: #8d8d8d;
  font-size: 15px;
  font-family: "clear_sansbold";
}

.deploy_section .speakers_button_cont {
  padding-left: 0px;
  padding-right: 0px;
}

.deploy_section .speakers_button_cont button {
  margin-top: 70px;
  width: 221px !important;
}

.deploy_section .speaker_container {
  height: 389px;
  margin-top: 70px;
}

.deploy_section .speaker_container .speaker_1,
.deploy_section .speaker_container .speaker_2 {
  width: 100%;
  max-width: 400px;
  height: 180px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
  -moz-box-flex: wrap;
  box-flex: wrap;
  -webkit-flex: wrap;
  -moz-flex: wrap;
  -ms-flex: wrap;
  flex: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.deploy_section .speaker_container .speaker_1 .face {
  height: 180px;
  width: 180px;
  background: url("../01_pictures/speakers/speaker_2.jpg") center center;
  background-repeat: no-repeat;
}

.deploy_section .speaker_container .speaker_1 .info {
  width: 100%;
  max-width: 190px;
}

.deploy_section .speaker_container .speaker_1 .info .field {
  width: 100%;
  border-bottom: 1px solid #aeaeae;
  line-height: 25px;
  padding-bottom: 5px;
}

.deploy_section .speaker_container .speaker_1 .info .field .name {
  color: #202525;
  font-size: 16px;
  font-family: "clear_sansregular";
}

.deploy_section .speaker_container .speaker_1 .info .field .occupation {
  color: #aeaeae;
  font-size: 14px;
  font-family: "clear_sansregular";
}

.deploy_section .speaker_container .speaker_1 .tech_container {
  width: 183px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.deploy_section .speaker_container .speaker_1 .tech_container .tech_logo {
  margin-top: 13px;
  height: 26px;
  width: 26px;
  background: #cacaca;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin-left: 3px;
}

.deploy_section .speaker_container .speaker_1 .tech_container .tech_logo:hover {
  background: #205081;
}

.deploy_section .speaker_container .speaker_2 {
  margin-top: 30px;
}

.deploy_section .speaker_container .speaker_2 .face {
  height: 180px;
  width: 180px;
  background: url("../01_pictures/speakers/speaker_1.jpg") center center;
  background-repeat: no-repeat;
}

.deploy_section .speaker_container .speaker_2 .info {
  width: 100%;
  max-width: 190px;
}

.deploy_section .speaker_container .speaker_2 .info .field {
  line-height: 25px;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 5px;
}

.deploy_section .speaker_container .speaker_2 .info .field .name {
  color: #202525;
  font-size: 16px;
  font-family: "clear_sansregular";
}

.deploy_section .speaker_container .speaker_2 .info .field .occupation {
  color: #aeaeae;
  font-size: 14px;
  font-family: "clear_sansregular";
}

.deploy_section .speaker_container .speaker_2 .tech_container {
  width: 183px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.deploy_section .speaker_container .speaker_2 .tech_container .tech_logo {
  margin-top: 13px;
  height: 26px;
  width: 26px;
  background: #cacaca;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin-left: 3px;
}

.deploy_section .speaker_container .speaker_2 .tech_container .tech_logo:hover {
  background: #205081;
}

.container {
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 959px) {
  .container {
    width: 959px !important;
  }
}
