section.apply.col-xs-12
  .title ПОДЕЛИСЬ ЗНАНИЯМИ НА КЭМПЕ!
  .sub_title Присоединяйтесь к нашей увлекательной тусовке
  .form_container.col-xs-12
    form
      .input-group
        .input-group-addon 
          img(src="../01_pictures/apply_section/person_input.png") 
        input.form-control.col-xs-6(type='text', placeholder="Гавриленко Евгений")
      .input-group
        .input-group-addon
          img(src="../01_pictures/apply_section/micro_input.png")      
        input.form-control.col-xs-6(type='text', placeholder="Название доклада")
      .input-group
        .input-group-addon 
          img(src="../01_pictures/apply_section/phone_input.png")   
        input.form-control.col-xs-6(type='text', placeholder="Номер Телефона")
      .input-group
        .input-group-addon 
          img(src="../01_pictures/apply_section/@_input.png")   
        input.form-control.col-xs-6(type='email', placeholder="E-mail")
  .button_container.col-xs-12      
    button.big_button(type="button") ПОДАТЬ ЗАЯВКУ
      
  
