.code_sprint.col-xs-12
  .sprint.col-xs-5
    .title.title.col-xs-12
      h1 {CODE}SPRINT
    .sub_title.col-xs-12
      h3 16 апреля 2016 в 9:00
    .button_cont.col-xs-12
      button.big_button_transp(type="button") ПОДРОБНЕЕ
    .logos_companies.col-xs-12
      .logo_cont
        img(src="../01_pictures/code_sprint/logo_1.png")
        img(src="../01_pictures/code_sprint/logo_2.png")
        img(src="../01_pictures/code_sprint/logo_3.png")
        img(src="../01_pictures/code_sprint/logo_4.png")
  .children_logo.col-xs-7
