.speakers_container
  .title.col-xs-5 СПИКЕРЫ И ДОКЛАДЫ
  article.drupal_camp.col-xs-8
    |DrupalCamp - это ежегодное мероприятие для специалистов в области веб технологий.
    |На это масштабное событие нас вдохновила система для создания сайтов и веб приложений Drupal.
    |Главная цель конференции - это создать условия для завязывания новых знакомств и продуктивного
    |общения участников, обмена опытом, поиска работы или кадров, зарождения новых идей и, тем самым,
  
  .become_speaker.col-xs-4
    .icon_container
      .icon
        img(src="../01_pictures/speakers/icon.png")
      button.big_button(type='button') СТАТЬ СПИКЕРОМ
  
  .speakers_thumbnails.col-xs-12
    .thumbnail.col-xs-3
    .thumbnail.col-xs-3
    .thumbnail.col-xs-3
    .thumbnail.col-xs-3
    .thumbnail.col-xs-3
    .thumbnail.col-xs-3
    .thumbnail.col-xs-3
    .thumbnail.col-xs-3
