.sponsors_section
  .sponsors.col-xs-12
    .title.col-xs-3 СПОНСОРЫ 
    .quote.col-xs-6
      | Наше сообщество постоянно развивается, но мы будем благодарны за спонсорcкое участие
      | в нашем ивенте 
    .become_sponsor.col-xs-3
      button.big_button(type="button") СТАТЬ СПОНСОРОМ
    
    
    .golden_sponsors.col-xs-6
      .sponsor_header ЗОЛОТЫЕ СПОНОСОРЫ
      
    .silver_sponsors.col-xs-6
      .sponsor_header СЕРЕБРЯНЫЕ СПОНСОРЫ
      
    .col-xs-6.first
      .sponsors_logo
        img(src="../01_pictures/sponsors/logo_1.png")
        img(src="../01_pictures/sponsors/logo_2.png")
        img(src="../01_pictures/sponsors/logo_3.png")
        img(src="../01_pictures/sponsors/logo_4.png") 
        
    .col-xs-6.second 
      .sponsors_logo
        img(src="../01_pictures/sponsors/logo_5.png")
        img(src="../01_pictures/sponsors/logo_2.png")
        img(src="../01_pictures/sponsors/logo_1.png")
        
    .bronze_sponsors.col-xs-6
      .sponsor_header БРОНЗОВЫЕ СПОНСОРЫ
      
    .media_sponsors.col-xs-6
      .sponsor_header МЕДИА СПОНСОРЫ
      
    .col-xs-6.third
      .sponsors_logo
        img(src="../01_pictures/sponsors/logo_5.png")
        img(src="../01_pictures/sponsors/logo_2.png")
        img(src="../01_pictures/sponsors/logo_1.png")
          
    .col-xs-6.fourth
      .sponsors_logo
        img(src="../01_pictures/sponsors/logo_6.png")
        img(src="../01_pictures/sponsors/logo_7.png")
        img(src="../01_pictures/sponsors/logo_8.png")
        img(src="../01_pictures/sponsors/logo_9.png")
        img(src="../01_pictures/sponsors/logo_10.png") 

        
      
      
