header
  .pattern_overlay  
  .gradiend_overlay
  .logo.col-xs-2
    | DRUPALCAMP&nbsp; 
    span KIEV’16
  nav.col-xs-10
    a(href="#") 
      | O DRUPALCAMP
      img(src="../01_pictures/menu_down.png")
    a(href="#") СПИКЕРЫ
    a(href="#") РАСПИСАНИЕ
    a(href="#") СПОНСОРЫ
    a(href="#") КОНТАКТИ
    button(type="button") КУПИТЬ БИЛЕТ
    .line
    .lang_change
      a(href="#") RU
      a(href="#") ENG
